/* index.html */
.header {
    background-color: #333;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
}

.company-name {
    color: white;
}

nav {
    background-color: #333;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    padding: 10px 20px;
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

.about-us {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.shop-now-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 20px;
}

.customer-reviews {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.review {
    margin-bottom: 20px;
}

.rating {
    margin-top: 5px;
}

.footer {
    background-color: #333;
    padding: 10px;
    margin: 0;
    color: white;
    text-align: center;
}

/* products.html */
.product-list {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center
}

.product img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.price {
    color: #007BFF;
    font-weight: bold;
}

.product:hover {
    background-color: #ffffff;
}

.product button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #45A049;
}

/* contact.html */
.contact-info {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.contact-method {
    background-color: #ddd;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
}

.contact-method ul {
    list-style: none;
    padding: 0;
}

.contact-method ul li a {
    color: #000; 
}

.contact-method ul li a:hover {
    color: #007BFF;
}

/* login.html */
.login-form {
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login-form label {
    display: block;
    margin: 10px;
}

.login-form input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login-form input::placeholder {
    color: #999;
}

.login-form .login-btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login-form .login-btn:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.login-form .signup-link {
    color: #007BFF;
    text-decoration: none;
    margin: 10px;
}

.login-form .signup-link:hover {
    text-decoration: underline;
}